.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  height: 150px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  min-height: calc(100vh - 140px);
}

.graph-container {
  background-color: #282c34;
  height: 600px;
  width: 800px;
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.crypto-table-container {
  height: 600px;
  width: 800px;
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  height: 40px;
  background: #282c34;
  line-height: 38px;
  color: white;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
