.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  height: 150px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - 140px);
}

.graph-container {
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ffffff;
}

.crypto-table-container {
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #8fb7ec;
}

.App-footer {
  height: 40px;
  line-height: 38px;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  color: white;
  background-color: #282c34;
}
